/************
GENERAL
*************/
:root {
    --dark: #121212;
    --light: #F9F6EE;
    --gloom: #c8c8c8;
    --ocean: #004085;
    --glaciar: #cce5ff;
    --sand: #856404;
    --shine: #fff3cd;
}
h3{
    font-size: 24px;
}
html, body {
    font-family: "Lato", sans-serif;
}
p{
    line-height: 2;
}
.menu-wrapper{
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu-wrapper img{
    width: 50px;
    padding-top: 5px;
    position: absolute;
    top: 2%;
    left: 2%
}
.mega-menu{
    text-align: center;
    padding: 20px 0;
}
.mega-menu a{
    margin: 0 20px;
    text-decoration: none;
}
.hamburger-menu, .fa-solid.fa-bars{
    display: none;
}
.fixed-width-wrapper{
    display: block;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.full-width-wrapper{
    width: 100%;
}
.full-width-wrapper .row.container{
    max-width: 1240px;
    padding: 0 40px;
}
/*********
THEME
**********/
.full-width-wrapper.intro{
    display: flex;
    justify-content: center;
}
.intro{
    background: url("/assets/images/background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro .row{
    max-width: 1240px;
    padding: 0 20px;
}
.intro figure{
    overflow: hidden;
    border-radius: 50%;
    max-width: 300px;
    margin: 20px auto;
}
.intro figure img{
    width: 300px;
}
.intro .col-12:last-child{
    border-radius: 15px;
    padding: 20px 40px;
    margin: 20px 0;

}
.work-experience-container{
    padding: 0;
}
.work-experience-description{
    border: 1px solid var(--gloom);
    border-radius: 15px;
    padding: 30px;
    box-shadow:  0 0 5px var(--gloom);

}
.work-experience-description i{
    margin-right: 10px;
}
.isi{
    background: url("/assets/images/usc_isi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.lab{
    background: url("/assets/images/usc_lab.jpg");
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.urus{
    background: url("/assets/images/urus.jpg");
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.parkside{
    background: url("/assets/images/parkside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.work-experience-description-container{
    padding: 20px;
    border-radius: 5px;
}
.description-wrapper {
    position: relative;
}

.description {
    max-height: 80px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
}
.description.expanded {
    max-height: 1000px;
}
.shadow{
    display: block;
    position: absolute;
    bottom: 0;
    background: rgba(1, 1, 1, 0.5);
    background: linear-gradient(0deg, rgba(1, 1, 1, 0.5), rgba(255, 255, 255, 0.0));
    width: 100%;
    height: 30px;
}
.description.expanded .shadow{
    display: none;
}
.tabs {
    display: flex;
}
.tab-link {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border-width: 1px 1px 0 1px;
    border-color: var(--gloom);
    border-style: solid;
    border-radius: 15px 15px 0 0;
    box-shadow:  0 0 5px var(--gloom);
    clip-path: inset(-10px -10px 0px -10px);
    transition: background-color 0.3s;
}
.tab-panel {
    padding: 20px;
    border-width: 0 1px 1px 1px;
    border-color: var(--gloom);
    border-style: solid;
    border-radius: 0 15px 15px 15px;
    box-shadow:  0 0 5px var(--gloom);
    /*background-color: #fff;*/
}
.fa-envelope:hover{
    color:  #ea4336;
}
.fa-linkedin:hover{
    color:  #0d67c2;
}
/*1 - DARK*/
.dark-theme{
    background-color: var(--dark);
    color: var(--light);
}
.fa-moon{
    margin-left: 5px;
    color: var(--ocean);
}
.dark-theme a{
    color: var(--light);
}
.dark-theme .menu-wrapper{
    background-color: rgba(18,18,18,0.9);
}
.dark-theme .mega-menu a.active{
    border-bottom: 3px solid var(--light);
}
.dark-theme .intro .col-12:last-child{
    background-color: rgba(18,18,18,0.9);
}
.dark-theme .work-experience-description-container{
    background-color: rgba(18,18,18,0.9);
}
.dark-theme .btn{
    border: 1px solid var(--sand);
    background-color: var(--shine);
    box-shadow:  0 0 5px var(--gloom);
    color: var(--sand);
}
.dark-theme .btn:hover{
    background-color: var(--sand);
    color: var(--shine);
}
.dark-theme .read-more.btn{
    border: 1px solid var(--sand);
    background-color: #ffc107;
    color: var(--dark);
}
.dark-theme .btn.read-more:hover{
    background-color: #c69300;
}
.dark-theme .card{
    color: var(--light);
}
.dark-theme .tab-link.active {
    background-color: var(--shine);
    color: var(--sand);
}
.dark-theme .tab-link {
    background-color: var(--sand);
    color: var(--shine);
}
/*2 - LIGHT*/
.light-theme{
    background-color: var(--light);
    color: var(--dark);
}
.fa-sun{
    margin-right: 5px;
    color: var(--sand);
}
.light-theme a{
    color: var(--dark);
}
.light-theme .menu-wrapper{
    background-color: rgba(249,246,238,0.9);
}
.light-theme .mega-menu a.active{
    border-bottom: 3px solid var(--dark);
}
.light-theme .intro .col-12:last-child{
    background-color: rgba(249,246,238,0.9);
}
.light-theme .work-experience-description-container{
    background-color: rgba(249,246,238,0.9);
}
.light-theme .btn{
    border: 1px solid var(--ocean);
    background-color: var(--glaciar);
    box-shadow:  0 0 5px var(--gloom);
    color: var(--ocean);
}
.light-theme .btn:hover{
    background-color: var(--ocean);
    color: var(--glaciar);
}
.light-theme .btn.read-more{
    border: 1px solid var(--ocean);
    background-color: #007bff;
    color: var(--light);
}
.light-theme .read-more.btn:hover{
    background-color: #0056b3;
}
.light-theme .card{
    color: var(--dark);
}
.light-theme .tab-link.active {
    background-color: var(--ocean);
    color: var(--glaciar);
}
.light-theme .tab-link {
    background-color: var(--glaciar);
    color: var(--ocean);
}
/*THEME SWITCH*/
.switch-container{
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 101;
    padding-top: 13px;
}
.toggle:hover {
    cursor: pointer;
}
.checkbox {
    display : none;
}
/*Night mode*/
/*Toggle background*/
.toggle {
    position : relative ;
    display : flex;
    align-items: center;
    justify-content: space-around;
    width : 70px;
    height : 35px;
    background-color: var(--glaciar);
    box-shadow: inset 0 0 5px var(--ocean);
    border-radius: 30px;
}
/* Slider */
.toggle:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--ocean);
    top: 5px;
    left: 5px;
    transition:  all 0.5s;
}
/*Light mode*/
/* Toggle background */
.checkbox:checked + .toggle {
    box-shadow: inset 0 0 5px var(--sand);
    background-color: var(--shine);
}
/*Slider */
.checkbox:checked + .toggle::after {
    left : 41px;
    background-color: var(--sand);
}
/*MOBILE*/
@media (max-width: 900px){
    .mega-menu a{
        margin: 0 7px;
    }
}
@media (max-width: 768px) {
    .menu-wrapper{
        position: relative;
    }
    .mega-menu{
        display: none;
    }
    .hamburger-menu-container{
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.5s ease, opacity 1s ease, visibility 1s linear 1s;
    }
    .hamburger-menu-container.open{
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        transition: max-height 1s ease, opacity 1s ease, visibility 0s linear 0s;
    }
    .hamburger-toggle{
        text-decoration: none;
    }
    .hamburger-menu{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    .hamburger-menu a{
        text-decoration: none;
        padding: 5px 20px;
    }
    .fa-solid.fa-bars{
        display: block;
        position: relative;
        text-align: right;
        margin: 20px 20px 20px 0;
        font-size: 1.5rem;
    }
    .dark-theme .hamburger-menu a:hover, .dark-theme .hamburger-menu a:focus{
        background: var(--sand);
    }
    .light-theme .hamburger-menu a:hover, .light-theme .hamburger-menu a:focus{
        background: var(--glaciar);
    }
    .switch-container{
        top: -5px;
        right: 15%;
        padding-top: 0;
    }
    .menu-wrapper img{
        padding-top: 0;
        position: absolute;
        top: -13px;
        left: 7%
    }
}
@media (max-width: 481px){
    .tab-panel {
        border-radius: 0 0 15px 15px;
    }
}
